ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0ebcc;
}
  
li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: #04009a;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
}

li a:hover {
    background-color: #77acf1;
  }

a {
    display: block;
    padding: 8px;

}