@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.5;
  color: white;
  background: #444;
  padding: 20px;
}

.callout.secondary {
  margin-top: 20px;
  background: #222;
  color: white;
}

.comment-list {
  list-style: none;
  margin: 0 0 50px 0;
}

.comment-list li {
  margin: 0 0 20px 0;
  background: #333;
  padding: 20px;
}

.comment-user {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}
.comment-user-avatar-wrap {
  width: 40px;
  margin-right: 10px;
}
.comment-username {
  margin-right: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.on {
  margin-right: 5px;
}
.comment-text {
  background: white;
  color: #222;
  padding: 20px;
}

.comment-text:last-child {
  margin: 0;
}

.edit-comment {
  display: list-item;
}

.edit-btn {
  margin-left: 7px;
  margin-right: 14px;
}

.edit-btn:hover {
  color: #1468a0;
  cursor: pointer;
}

.del-btn:hover {
  color: #ef4135;
  cursor: pointer;
}
